/* Body */
.header {
  height: 120px;
  background-image: linear-gradient(180deg, #f53d2d, #ff6433);
}

.navbar-list {
  list-style: none;
  padding: 8px;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.navbar-item,
.navbar-item-link,
.navbar-icon-link {
  display: inline-block;
  font-size: 1.4rem;
  color: var(--white-color);
  text-decoration: none;
  font-weight: 300;
}

.navbar-item:hover a,
.navbar-item-link:hover,
.navbar-icon-link:hover {
  color: rgba(255, 255, 255, 0.7);
}

.navbar-item {
  position: relative;
  top: 0;
}

.navbar-item:not(:last-child) {
  margin-right: 1rem;
}

.navbar-item.reset_margin {
  margin: 0;
}

.navbar-item-link--strong {
  font-weight: 500;
}

.navbar-item--seperate+ ::after {
  content: "";
  display: block;
  position: absolute;
  border-left: 1px solid rgba(255, 255, 255, 0.22);
  height: 1.5rem;
  left: -0.8rem;
  top: 50%;
  transform: translateY(-50%);
}

.navbar-icon-link {
  font-size: 1.6rem;
  margin: 0 4px;
}

.navbar-item .navbar-item-link--modifier {
  margin: 0;
}

.navbar-item-link--modifier {
  cursor: text;
  color: var(--white-color);
}

/* Navbar qrcode */
.navbar-qrcode {
  background-color: var(--white-color);
  position: absolute;
  left: 0;
  top: 100%;
  padding: 2px;
  width: 18rem;
  border-radius: 2px;
  margin-top: 10px;
  z-index: 10;
  display: none;
  animation: fadeIn ease-in 0.3s;
  will-change: opacity scale;
}

.navbar-qrcode:before {
  display: block;
  content: "";
  width: 100%;
  height: 20px;
  position: absolute;
  top: -10px;
  left: 0;
}

.navbar-item--qr-show:hover .navbar-qrcode {
  display: block;
}

.navbar-qrcode__img {
  max-width: 100%;
}

.qr-app {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.qr-app__image {
  width: 7rem;
}

.qr-app-link {
  text-decoration: none;
}

.qr-app-link:nth-child(1) {
  margin-left: 12px;
  margin-top: 5px;
}

.qr-app-link:nth-child(2) {
  margin-right: 12px;
  margin-top: 5px;
}

.qr-app-link:nth-child(3) {
  margin-left: 12px;
  margin-top: 5px;
}

/* Navbar Notification */
.navbar-notify {
  position: absolute;
  top: 110%;
  right: 0;
  background-color: var(--white-color);
  color: var(--text-color);
  width: 400px;
  box-shadow: 0 1px 3.125rem 0 rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  z-index: 12;
  transform: scale(0);
  transition: all 0.3s;
  transform-origin: calc(100% - 50px) top;
}

.navbar-item--show-notify:hover .navbar-notify {
  transform: scale(1);
}

.navbar-notify::before {
  content: "";
  border: solid;
  border-width: 25px 48px;
  border-color: transparent transparent var(--white-color) transparent;
  position: absolute;
  right: 3px;
  top: -33px;
}

@keyframes notifyGrowth {
  from {
    opacity: 0;
    transform: scale(0);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.navbar-notify-header {
  height: 40px;
}

.navbar-notify-header h3 {
  font-size: 1.5rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.75);
  padding: 0 10px;
  line-height: 40px;
}

.navbar-notify-list {
  list-style: none;
}

.navbar-notify-item {
  padding: 8px 10px;
}

.navbar-notify-item:hover,
.navbar-item-footer-link:hover {
  background-color: #f8f8f8;
}


.navbar-notify-item--view {
  background-color: #fff2ee;
}

.navbar-notify-link {
  display: flex;
  text-decoration: none;
}

.navbar-notify-img img {
  max-width: 4rem;
  object-fit: contain;
}

.navbar-notify-info {
  margin-left: 4px;
  margin-right: 4px;
  min-width: 0;
  overflow-wrap: break-word;
}

.navbar-notify-name {
  display: block;
  font-size: 1.4rem;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 400;
  margin-bottom: 4px;
}

.navbar-notify-description {
  display: block;
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.7);
}

.navbar-item-footer {
  text-align: center;
}

.navbar-item-footer-link {
  display: block;
  padding: 10px 16px;
  text-decoration: none;
}