.app {
  overflow: hidden;
}

/* Header Navbar */
.header {
  background-image: linear-gradient(180deg, #f53d2d, #ff6433);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
}

/* Header sort bar */
.header__sort-bar {
  position: fixed;
  top: calc(var(--header-height) - 0.1rem);
  left: 0;
  right: 0;
  height: var(--header-sort-bar-height);
  background-color: var(--white-color);
  list-style: none;
  border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.1);
  display: none;
}

.header__sort-item {
  flex: 1;
}

.header__sort-link {
  text-decoration: none;
  text-align: center;
  color: var(--text-color);
  font-size: var(--font-size-m);
  display: block;
  height: 100%;
  line-height: var(--header-sort-bar-height);
  position: relative;
}

.header__sort-item:not(:first-child) .header__sort-link::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  height: 60%;
  border-left: 0.1rem solid rgba(0, 0, 0, 0.1);
  transform: translateY(-50%);
}

.header__sort-item--active .header__sort-link {
  color: var(--primary-color);
}

.navbar-list {
  list-style: none;
  padding: 0.8rem;
}

.navbar {
  display: flex;
  height: var(--navbar-height);
  justify-content: space-between;
  font-size: var(--font-size-s);
}

.navbar-item,
.navbar-item-link,
.navbar-icon-link {
  display: inline-block;
  font-size: var(--font-size-primary);
  color: var(--white-color);
  text-decoration: none;
  font-weight: 400;
}

.navbar-item {
  position: relative;
  top: 0;
  left: 0;
}

.navbar-item:not(:last-child) {
  margin-right: 1rem;
}

.navbar-item.reset-margin {
  margin: 0;
}

.navbar-item-link--strong {
  font-weight: 500;
}

.navbar-item--seperate + ::after {
  content: "";
  display: block;
  position: absolute;
  border-left: 0.1rem solid rgba(255, 255, 255, 0.22);
  height: 1.5rem;
  left: -0.8rem;
  top: 50%;
  transform: translateY(-50%);
}

.navbar-icon-link {
  font-size: var(--font-size-lg);
  margin: 0 0.4rem;
}

.navbar-item .navbar-item-link--modifier {
  margin: 0;
  cursor: text;
  color: var(--white-color);
}

.navbar-item:hover:not(.navbar-item-avoid) > a,
.navbar-item-link:hover,
.navbar-icon-link:hover {
  color: rgba(255, 255, 255, 0.7);
}

/* Navbar QR code */
.navbar-qrcode {
  display: none;
  background-color: var(--white-color);
  position: absolute;
  left: 0;
  top: 100%;
  padding: 0.2rem;
  width: 18rem;
  border-radius: 0.2rem;
  margin-top: 1rem;
  z-index: 10;
  animation: fadeIn ease-in 0.3s;
  will-change: transition;
}

.navbar-qrcode:before {
  display: block;
  content: "";
  width: 100%;
  height: 2rem;
  position: absolute;
  top: -1rem;
  left: 0;
}

.navbar-item--qr-show:hover .navbar-qrcode {
  display: block;
}

.navbar-qrcode__img {
  max-width: 100%;
}

.qr-app {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.qr-app__image {
  width: 7rem;
}

.qr-app-link {
  text-decoration: none;
}

.qr-app-link:nth-child(1) {
  margin-left: 1.2rem;
  margin-top: 0.5rem;
}

.qr-app-link:nth-child(2) {
  margin-right: 1.2rem;
  margin-top: 0.5rem;
}

.qr-app-link:nth-child(3) {
  margin-left: 1.2rem;
  margin-top: 0.5rem;
}

/* Header show Notification */
.navbar-notify {
  min-width: 40rem;
  top: 110%;
  right: 0;
  border: 0.1rem solid rgba(255, 255, 255, 0.1);
  transform-origin: calc(100% - 6rem) top;
  z-index: 12;
}

.navbar-popup-language {
  min-width: 19rem;
  top: 110%;
  right: 0;
  border: 0.1rem solid rgba(255, 255, 255, 0.1);
  transform-origin: calc(100% - 6.2rem) top;
  z-index: 12;
}

.navbar-popup-user {
  min-width: 15rem;
  top: 110%;
  right: 0;
  transform-origin: calc(100% - 4.16rem) top;
  z-index: 12;
}

/* Popup arrow - Notification */
.navbar-notify::before {
  content: "";
  border-style: solid;
  border-color: transparent transparent var(--white-color) transparent;
  position: absolute;
  right: -0.2rem;
  top: -0.6rem;
  border-width: 0 6rem 4rem 6rem;
}

/* Popup arrow - Language */
.navbar-popup-language::before {
  content: "";
  border-style: solid;
  border-color: transparent transparent var(--white-color) transparent;
  position: absolute;
  right: 2.7rem;
  top: -0.5rem;
  border-width: 0 4rem 2.2rem 4rem;
  z-index: -1;
}

/* Popup arrow - User */
.navbar-popup-user::before {
  content: "";
  border-style: solid;
  border-color: transparent transparent var(--white-color) transparent;
  position: absolute;
  right: 0.2rem;
  top: -0.5rem;
  border-width: 0 4rem 2.2rem 4rem;
  z-index: -1;
}

/* User */
.navbar-item__username {
  max-width: 15rem;
  padding-left: 0.5rem;
  text-transform: none;
}

.navbar-user-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Hover show popup */
.navbar-item--show-popup:hover .navbar-notify,
.navbar-item--show-popup:hover .navbar-popup-user,
.navbar-item--show-popup:hover .navbar-popup-language {
  transform: scale(1);
  opacity: 1;
}

@keyframes notifyGrowth {
  from {
    opacity: 0;
    transform: scale(0);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.navbar-notify-head {
  height: 4rem;
  font-size: var(--font-size-primary);
  font-weight: 400;
  color: rgba(0, 0, 0, 0.75);
  padding: 0 1rem;
  line-height: 4rem;
}

.navbar-popup-list {
  list-style: none;
}

.navbar-popup-item {
  padding: 0.8rem 1rem;
}

.navbar-popup-item--view {
  background-color: #fff2ee;
}

.navbar-popup-link {
  display: flex;
  text-decoration: none;
  color: var(--text-color);
}

/* Hover in language */
.navbar-popup-item:hover .navbar-language {
  color: #ee4d2d;
}

/* Hover in user */
.navbar-popup-item:hover .navbar-user {
  color: #00bfa5;
}

.navbar-notify-img img {
  max-width: 4rem;
  object-fit: contain;
}

.navbar-notify-info {
  margin-left: 0.4rem;
  margin-right: 0.4rem;
  min-width: 0;
  overflow-wrap: break-word;
}

.navbar-notify-name {
  display: block;
  font-size: var(--font-size-primary);
  color: rgba(0, 0, 0, 0.8);
  font-weight: 400;
  margin-bottom: 0.4rem;
}

.navbar-notify-description {
  display: block;
  font-size: var(--font-size-s);
  color: rgba(0, 0, 0, 0.7);
}

.navbar-item-footer {
  text-align: center;
  color: rgba(0, 0, 0, 0.8);
}

.navbar-item-footer-link {
  display: block;
  padding: 1rem 1.6rem;
  text-decoration: none;
  color: var(--text-color);
}

.navbar-popup-item:hover,
.navbar-item-footer-link:hover {
  background-color: var(--hover-background-color);
}

/* Modal Authentication Form*/
.auth-form {
  width: 50rem;
  background-color: var(--white-color);
  border-radius: 0.5rem;
  overflow: hidden;
}

.auth-form__container {
  padding: 0 3.2rem;
}

.auth-form__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.2rem;
  margin-top: 1.2rem;
}

.auth-form__heading {
  font-size: 2.2rem;
  font-weight: 400;
  color: var(--text-color);
}

.auth-form__switch-btn {
  font-size: var(--font-size-lg);
  color: var(--primary-color);
  cursor: pointer;
}

.auth-form__input {
  width: 100%;
  height: 4rem;
  margin-top: 1.6rem;
  padding: 0 1.2rem;
  font-size: var(--font-size-primary);
  border-radius: 0.2rem;
  border: 0.1rem solid var(--border-color);
  outline: none;
}

.auth-form__input:focus {
  border-color: #888;
}

.auth-form__aside {
  margin-top: 2rem;
}

.auth-form__policy-text {
  font-size: var(--font-size-s);
  line-height: 1.8rem;
  text-align: center;
  padding: 0 1.2rem;
}

.auth-form__text-link {
  text-decoration: none;
  color: var(--primary-color);
}

.auth-form__controls {
  margin-top: 8rem;
  display: flex;
  justify-content: end;
}

.auth-form__controls-back {
  margin-right: 0.8rem;
}

.auth-form__socials {
  background-color: var(--background-main-color);
  padding: 1.6rem 3.2rem;
  display: flex;
  justify-content: space-between;
  margin-top: 2.2rem;
}

.auth-form__socials-icon {
  font-size: var(--font-size-2xl);
}

.auth-form__socials--facebook {
  color: var(--white-color);
  background-color: #3a5a98;
}

.auth-form__socials-title {
  margin: 0 3.6rem;
}

.auth-form__socials--google {
  background-color: var(--white-color);
  color: #666;
}

.auth-form__help {
  display: flex;
  justify-content: flex-end;
}

.auth-form__help-link {
  text-decoration: none;
  font-size: var(--font-size-primary);
  color: #939393;
}

.auth-form__help-separate {
  display: block;
  height: 2.2rem;
  margin: -0.2rem 1.6rem 0rem;
  border-left: 0.1rem solid #eaeaea;
}

.auth-form__help-forgot {
  color: var(--primary-color);
}

/* Header Search */
.header-with-search {
  padding: 0 0.8rem;
  height: var(--header-with-search-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__mobile-search {
  padding: 1.2rem;
}

.header__seach-checkbox:checked ~ .header-search-section {
  display: flex;
}

.header__mobile-search-icon {
  font-size: 2.6rem;
  color: var(--white-color);
}

.header-logo-link {
  padding-right: 4rem;
  text-decoration: none;
  color: transparent;
  -webkit-tap-highlight-color: transparent;
}

.header-logo-img {
  width: 16.2rem;
  object-fit: contain;
}

/* Search layout */
.header-search-section {
  display: flex;
  flex-direction: column;
  width: 84rem;
  margin-top: 0.8rem;
}

.header-search-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white-color);
  flex: 1;
  padding: 0.4rem;
  height: 4rem;
}

/* Search input */
.header-search-main {
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
  height: inherit;
}

.header-search-form {
  padding: 0 1.6rem;
  display: flex;
  flex: 1;
}

.header-search-form__input {
  border: none;
  outline: none;
  flex: 1;
  color: var(--text-color);
  font-family: var(--font-family-primary);
  font-size: var(--font-size-primary);
  padding: 0 1.6rem;
}

/* Search select */
.header-search-selector {
  position: relative;
  display: flex;
  height: 100%;
  max-width: 15rem;
  align-items: center;
  border-left: 0.1rem solid rgba(0, 0, 0, 0.1);
  padding: 0.4rem 0.8rem 0.4rem 1.6rem;
  font-size: var(--font-size-primary);
  cursor: pointer;
}

.header-search-selector__label {
  margin-right: 0.6rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.header-search-selector__icon {
  font-size: var(--font-size-xs);
}

.header-search-wrapper {
  position: absolute;
  top: calc(100% + 1rem);
  right: 0;
  display: none;
  z-index: 14;
}

.header-search-wrapper::before {
  position: absolute;
  width: 100%;
  top: -1.8rem;
  height: 2rem;
  content: "";
}

.header-search-selector:hover .header-search-wrapper {
  display: flex;
}

.header-search-option {
  list-style: none;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 0.1rem 0.1rem rgba(0, 0, 0, 0.2);
  border-radius: 0.2rem;
  margin-top: 0.2rem;
}

.header-search-option-item {
  background-color: var(--white-color);
  padding: 1.6rem 1rem 1.6rem 1.6rem;
  display: flex;
  align-items: center;
}

.header-search-option-item:hover {
  background-color: #fbfbfb;
}

.header-search-option-item span {
  white-space: nowrap;
  flex: 1;
}

.header-search-option-item i {
  font-size: var(--font-size-xs);
  margin-left: 1.4rem;
  display: none;
}

.header-search-option-item--active i {
  display: inline-block;
}

/* Search button */
.header-search-icon__btn {
  font-size: var(--font-size-m);
  color: var(--white-color);
  padding: 1rem 2.4rem;
  background-color: #fb5533;
  border-radius: 0.2rem;
  line-height: 0;
  border: none;
}

.header-search-icon__btn:hover {
  background-color: #fb6445;
}

/* Search History */
.header-search-history {
  position: absolute;
  left: -0.4rem;
  top: calc(100% + 0.6rem);
  width: calc(100% - 1.6rem);
  background-color: var(--white-color);
  border-radius: 0.2rem;
  box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.2);
  z-index: 12;
  display: none;
}

.header-search-history-heading {
  padding: 1rem;
  color: rgba(0, 0, 0, 0.3);
  font-size: var(--font-size-primary);
  font-weight: 500;
}

.header-search-history__list {
  list-style: none;
  line-height: 1.6rem;
}

.header-search-history__item {
  padding: 1rem;
}

.header-search-history__item:hover {
  background-color: #fafafa;
}

.header-search-history__item:last-child {
  border-bottom-left-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
}

.header-search-history__link {
  display: block;
  text-decoration: none;
  color: var(--text-color);
}

.header-search-form__input:focus + .header-search-history {
  display: block;
}

.header-search-suggest__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-top: 0.6rem;
  align-items: center;
}

.header-search-suggest__link {
  margin-right: 1.4rem;
  color: var(--white-color);
  text-decoration: none;
  font-size: var(--font-size-s);
  font-weight: 300;
  line-height: 1.4rem;
}

/* Header Cart */
.header-cart-wrapper {
  flex: 1;
  position: relative;
  text-align: center;
  margin: 0 1.6rem 1.6rem 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-tap-highlight-color: transparent;
}

.header-cart-main {
  position: relative;
  display: inline-block;
  padding: 1.2rem;
  cursor: pointer;
}

.header-cart-link {
  color: var(--white-color);
}

.header-cart-list {
  top: calc(100% + 0.2rem);
  min-width: 40rem;
  z-index: 11;
  right: -1rem;
  transform-origin: calc(100% - 3.3rem) top;
  max-height: 60vh;
}

/* Popup arrow - cart */
.header-cart-list::before {
  content: "";
  border-style: solid;
  border-color: transparent transparent var(--white-color) transparent;
  position: absolute;
  right: 0.3rem;
  top: -0.8rem;
  border-width: 0 3rem 2rem 3rem;
  z-index: 12;
}

.header-cart-main:hover .header-cart-list {
  transform: scale(1);
  opacity: 1;
}

.header-cart-list--empty-cart {
  padding: 6rem 0;
  cursor: default;
}

.header-cart-list--empty-cart .header-cart-list__empty-img,
.header-cart-list--empty-cart .header-cart-list__empty-notify {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.header-cart-list__empty-img {
  width: 10rem;
  display: none;
}

.header-cart-list__empty-notify {
  display: none;
  text-align: center;
  margin-top: 2rem;
}

.header-cart-quantity {
  position: absolute;
  border-radius: 4.4rem;
  min-width: 1.2rem;
  line-height: 1.6rem;
  padding: 0rem 0.6rem;
  text-align: center;
  border: 0.15rem solid var(--primary-color, #ee4d2d);
  color: var(--primary-color, #ee4d2d);
  background-color: #fff;
  left: 2.6rem;
  top: 0;
  font-size: var(--font-size-primary);
  font-family: var(--font-family-primary);
}

/* Cart product */
.header-cart-heading {
  padding: 1.2rem 0 1.2rem 1rem;
  color: rgba(0, 0, 0, 0.26);
  font-size: var(--font-size-primary);
  font-weight: 500;
  text-align: left;
}

.header-cart-shopping-list {
  list-style: none;
}

.header-cart-shoping-list__item {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  cursor: default;
}

.header-cart-shoping-list__item:hover {
  background-color: var(--hover-background-color);
}

.header-cart-shopping-list__img {
  width: 4.2rem;
  height: 4.2rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  font-size: var(--font-size-primary);
  object-fit: contain;
}

.header-cart-shopping-list__info {
  flex: 1;
  display: flex;
  margin-left: 1rem;
  justify-content: space-between;
  margin-top: -0.2rem;
}

.header-cart-shopping-list__description {
  flex: 1;
  max-width: 22.4rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-right: 4rem;
}

.header-cart-shopping-list__price {
  color: var(--primary-color);
}

.header-cart-checking {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.header-cart-quantiy-goods {
  font-size: var(--font-size-m);
  color: rgba(0, 0, 0, 0.8);
}

/* Body container */
.content-container {
  margin-top: calc(var(--header-height) + 3rem);
}

/* Category */
.category {
  border-radius: 0.2rem;
  background-color: #fbfbfb;
}

.category-heading {
  text-transform: capitalize;
  font-size: var(--font-size-lg);
  color: rgba(0, 0, 0, 0.8);
  font-weight: 700;
  display: flex;
  align-items: center;
  padding: 0.8rem 1rem;
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.05);
}

.category-heading__icon {
  margin-right: 1rem;
}

.category-list {
  list-style: none;
}

.category-item {
  padding: 0.8rem 2rem;
}

.category-item--active .category-item__link {
  color: var(--primary-color);
}

.category-item--active .category-item__link::before {
  content: "";
  position: absolute;
  border: 0.4rem solid;
  border-style: solid;
  top: 50%;
  left: -0.9rem;
  transform: translateY(calc(-50% - 0.1rem));
  border-color: transparent transparent transparent var(--primary-color);
}

.category-item__link {
  display: block;
  position: relative;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
  font-size: var(--font-size-m);
  font-weight: 500;
  transition: right linear 0.1s;
}

.category-item__link:hover {
  color: var(--primary-color);
}

.category-item__link-icon {
  margin-right: 0.4rem;
}

.home-filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.2rem 2rem;
  border-radius: 0.2rem;
  background-color: rgba(0, 0, 0, 0.05);
}

.home-filter__label {
  color: #555555;
  font-size: var(--font-size-m);
  margin-right: 1.6rem;
}

.home-filter__btn {
  margin-right: 1rem;
  height: 3.4rem;
  min-width: 9rem;
}

.home-filter__page {
  display: flex;
  align-items: center;
  margin-left: auto;
  font-size: var(--font-size-m);
}

.home-filter__page-number {
  margin-right: 2rem;
}

.home-filter__page-current {
  color: var(--primary-color);
}

.home-filter__page-link {
  text-decoration: none;
  box-shadow: 0 0.1rem 0.1rem 0 rgba(0, 0, 0, 0.05);
  border-radius: 0.2rem;
  background: #f9f9f9;
  border: 0;
  color: rgba(0, 0, 0, 0.26);
  padding: 0.8rem 1.2rem;
}

.home-filter__page-link-disabled {
  cursor: default;
  pointer-events: none;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.home-filter__page-link-next {
  background: var(--white-color);
  color: rgba(0, 0, 0, 0.8);
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.home-filter__page-icon {
  font-size: var(--font-size-m);
}

/* Product */
.home-product-item {
  display: block;
  color: var(--text-color);
  text-decoration: none;
  background-color: var(--white-color);
  margin-top: 1rem;
  position: relative;
  border-bottom-left-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
  box-shadow: 0 0.1rem 0.2rem 0 rgba(0, 0, 0, 0.1);
  transition: transform 0.1s ease-in;
  will-change: transform;
  -webkit-tap-highlight-color: transparent;
}

.home-product-item:hover {
  box-shadow: 0 0.1rem 2rem 0 rgba(0, 0, 0, 0.05);
  transform: translateY(-0.1rem);
}

.home-product-item__img {
  padding-top: 100%;
  background-repeat: no-repeat;
  background-size: contain;
}

.home-product-item__wrapper {
  padding: 0.8rem;
}

.home-product-item__name {
  font-size: var(--font-size-s);
  font-weight: 400;
  word-wrap: break-word;
  line-height: 1.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.home-product-item__info {
  display: flex;
  margin-top: 0.4rem;
  align-items: center;
}

.home-product-item__info-voucher {
  font-size: var(--font-size-xs);
  color: var(--voucher-primary-color);
  position: relative;
  margin-right: 0.4rem;
  max-width: 60%;
  flex-shrink: 0;
}

.home-product-item__info-type {
  color: rgb(255, 0, 32);
  border: 0.1rem solid;
  padding: 0.2rem 0.4rem;
  font-size: var(--font-size-xs);
  border-radius: 0.1rem;
  display: inline-block;
  text-align: center;
  height: 1.6rem;
  line-height: 100%;
}

.home-product-item__info-voucher-after {
  width: 0.4rem;
  position: absolute;
  top: 0;
  left: 0;
}

.home-product-item__info-voucher-before {
  width: 0.4rem;
  position: absolute;
  top: 0;
  right: 0;
}

.home-product-item__info-voucher-content {
  color: white;
  background-color: rgb(246, 145, 19);
  padding: 0 0.1rem;
  height: 1.6rem;
  margin: 0 0.3rem;
  line-height: 1.6rem;
}

.home-product-item__price {
  font-size: var(--font-size-lg);
  padding-top: 0.8rem;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.home-product-item__price-currency {
  font-size: var(--font-size-m);
  font-family: "Source Sans Pro", sans-serif;
  margin-right: -0.3rem;
}

.home-product-item__price-old {
  max-width: 100%;
}

.home-product-item__price--line-through {
  margin-right: 0.4rem;
  font-size: var(--font-size-primary);
  text-decoration: line-through;
  color: rgba(0, 0, 0, 0.55);
  font-family: "Source Sans Pro", sans-serif;
}

.home-product-item__price-current {
  color: var(--primary-color);
  max-width: 100%;
}

.home-product-item__price--seperate {
  margin: 0 0.1rem;
  color: var(--primary-color);
}

.home-product-item__action {
  display: flex;
  align-items: center;
  margin-top: 1.2rem;
}

.home-product-item__rating {
  font-size: var(--font-size-2xs);
}

.home-product-item__rating-gold {
  color: var(--star-gold-color);
}

.home-product-item__total-sold {
  font-size: var(--font-size-s);
  margin-left: 0.4rem;
  color: rgba(0, 0, 0, 0.9);
}

.home-product-item__place {
  margin-top: 0.8rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.65);
  text-align: left;
}

.home-product-item__favourite {
  position: absolute;
  top: 1rem;
  left: -0.3rem;
  font-size: var(--font-size-s);
  color: var(--primary-color);
  background-color: currentColor;
  font-weight: 500;
  padding: 0 0.4rem;
  border-bottom-right-radius: 0.2rem;
  border-top-right-radius: 0.2rem;
  max-width: 100%;
}

.home-product-item__favourite span {
  max-width: 100%;
  display: inline-block;
  color: var(--white-color);
  vertical-align: middle;
}

.home-product-item__favourite::before {
  content: "";
  border-top: 0.3rem solid currentColor;
  border-left: 0.3rem solid transparent;
  position: absolute;
  left: 0;
  bottom: -0.3rem;
  filter: brightness(60%);
}

.home-product-item__sale-off {
  position: absolute;
  right: 0;
  top: 0;
  background-color: rgba(255, 212, 36, 0.9);
  color: var(--primary-color);
  display: flex;
  flex-direction: column;
  text-align: center;
  text-transform: uppercase;
  padding: 0.4rem 0.3rem 0.3rem;
  font-size: var(--font-size-s);
  font-weight: 400;
  justify-content: center;
}

.home-product-item__sale-off::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.4rem;
  border-width: 0 1.8rem 0.4rem;
  border-style: solid;
  color: rgba(255, 212, 36, 0.9);
  border-color: transparent currentColor transparent currentColor;
}

.home-product-item__sale-label {
  color: var(--white-color);
}

/* Pagination */
.home-product__pagination {
  margin-top: 4.4rem;
  margin-bottom: 3.2rem;
  padding-left: 0;
  width: 100%;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.pagination-item {
  /* flex: 0 0 8%; */
  padding: 0 0.8rem;
  text-align: center;
}

.pagination-item--active .pagination-item__link {
  background-color: var(--primary-color);
  color: var(--white-color);
}

.pagination-item__link--disable {
  cursor: default;
  pointer-events: none;
}

.pagination-item__link {
  --height: 3rem;
  display: block;
  text-align: center;
  line-height: var(--height);
  text-decoration: none;
  font-size: var(--font-size-xl);
  font-weight: 300;
  color: rgba(0, 0, 0, 0.6);
  max-width: 4rem;
  height: var(--height);
  border-radius: 0.2rem;
}

.pagination-item--active .pagination-item__link:hover {
  opacity: 0.9;
}

.pagination
  li:not(
    .pagination-item--active,
    .pagination-item-left,
    .pagination-item-right
  )
  > a:hover {
  color: var(--primary-color);
}

/* Footer */
footer {
  background-color: #fbfbfb;
  border-top: 0.4rem solid var(--primary-color);
}

.footer-heading {
  font-size: var(--font-size-m);
  font-weight: 500;
  margin: 4rem 0 1.6rem;
}

.footer-heading-ship {
  margin: 2.4rem 0.5rem 1.6rem 0;
}

.footer-heading-app {
  margin: 5rem 0 1.6rem;
}

.footer-list {
  list-style: none;
  font-size: var(--font-size-m);
}

.footer-item {
  margin-bottom: 1.2rem;
}

.footer-item__link {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
}

.footer-item__link:hover {
  color: var(--primary-color);
}

.footer-item__icon {
  margin-right: 0.8rem;
  font-size: var(--font-size-lg);
  margin-bottom: 0.2rem;
}

.footer-list-img {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.footer-list-img .footer-item {
  margin-bottom: 0;
}

.footer-item-img {
  margin-bottom: 0.8rem;
  margin-right: 0.8rem;
  padding: 0.4rem;
  background-color: #fff;
  box-shadow: 0 0.1rem 0.1rem rgba(0, 0, 0, 0.2);
  overflow: hidden;
  border-radius: 0.2rem;
}

.footer-item__qrcode {
  display: flex;
}

.footer-item__qrcode-link {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

.footer-item__qrcode-link-img {
  padding: 0.4rem;
  text-decoration: none;
  margin-right: 1.2rem;
  width: 9rem;
  background-color: var(--white-color);
  box-shadow: 0 0.1rem 0.1rem rgba(0, 0, 0, 0.2);
  border-radius: 0.2rem;
}

.footer-item__app-link {
  padding: 0.4rem;
  width: 8rem;
  text-decoration: none;
  font-size: var(--font-size-m);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white-color);
  box-shadow: 0 0.1rem 0.1rem rgba(0, 0, 0, 0.2);
  border-radius: 0.2rem;
  margin-bottom: 0.8rem;
  -webkit-tap-highlight-color: transparent;
}

.footer-item__app-link:last-child {
  margin-bottom: 0;
}

.footer-author {
  margin-top: 0.8rem;
  padding: 2rem 0;
  font-size: var(--font-size-m);
  color: rgba(0, 0, 0, 0.7);
  border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 100%;
}

.footer-author-place-list {
  margin-top: 0.8rem;
  display: flex;
  justify-content: center;
  list-style: none;
  align-items: center;
}

.footer-author-place-item:not(:first-child) {
  padding: 0 0.5rem;
}

.footer-author-place-item:not(:first-child, :last-child) {
  border-right: 0.1rem solid rgba(0, 0, 0, 0.2);
}

.footer-author-place-link {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.7);
}
