/* Body */
.header {
  background-image: linear-gradient(180deg, #f53d2d, #ff6433);
}

.navbar-list {
  list-style: none;
  padding: 8px;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.navbar-item,
.navbar-item-link,
.navbar-icon-link {
  display: inline-block;
  font-size: var(--font-size-primary);
  color: var(--white-color);
  text-decoration: none;
  font-weight: 400;
}

.navbar-item:hover>a,
.navbar-item-link:hover,
.navbar-icon-link:hover {
  color: rgba(255, 255, 255, 0.7);
}

.navbar-item {
  position: relative;
  top: 0;
}

.navbar-item:not(:last-child) {
  margin-right: 1rem;
}

.navbar-item.reset-margin {
  margin: 0;
}

.navbar-item-link--strong {
  font-weight: 500;
}

.navbar-item--seperate+ ::after {
  content: "";
  display: block;
  position: absolute;
  border-left: 1px solid rgba(255, 255, 255, 0.22);
  height: 1.5rem;
  left: -0.8rem;
  top: 50%;
  transform: translateY(-50%);
}

.navbar-icon-link {
  font-size: 1.6rem;
  margin: 0 4px;
}

.navbar-item .navbar-item-link--modifier {
  margin: 0;
}

.navbar-item-link--modifier {
  cursor: text;
  color: var(--white-color);
}

/* Navbar QR code */
.navbar-qrcode {
  display: none;
  background-color: var(--white-color);
  position: absolute;
  left: 0;
  top: 100%;
  padding: 2px;
  width: 18rem;
  border-radius: 2px;
  margin-top: 10px;
  z-index: 10;
  animation: fadeIn ease-in 0.3s;
  will-change: transition;
}

.navbar-qrcode:before {
  display: block;
  content: "";
  width: 100%;
  height: 20px;
  position: absolute;
  top: -10px;
  left: 0;
}

.navbar-item--qr-show:hover .navbar-qrcode {
  display: block;
}

.navbar-qrcode__img {
  max-width: 100%;
}

.qr-app {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.qr-app__image {
  width: 7rem;
}

.qr-app-link {
  text-decoration: none;
}

.qr-app-link:nth-child(1) {
  margin-left: 12px;
  margin-top: 5px;
}

.qr-app-link:nth-child(2) {
  margin-right: 12px;
  margin-top: 5px;
}

.qr-app-link:nth-child(3) {
  margin-left: 12px;
  margin-top: 5px;
}

/* Header show Notification */
.navbar-notify {
  min-width: 400px;
  top: 110%;
  right: 0;
  border: 1px solid rgba(255, 255, 255, 0.1);
  transform-origin: calc(100% - 60px) top;
  z-index: 12;
}

.navbar-popup-language {
  min-width: 190px;
  top: 110%;
  right: 0;
  border: 1px solid rgba(255, 255, 255, 0.1);
  transform-origin: calc(100% - 62px) top;
  z-index: 12;
}

.navbar-popup-user {
  min-width: 150px;
  top: 110%;
  right: 0;
  transform-origin: calc(100% - 41.6px) top;
  z-index: 12;
}

/* Popup arrow - Notification */
.navbar-notify::before {
  content: "";
  border-style: solid;
  border-color: transparent transparent var(--white-color) transparent;
  position: absolute;
  right: -2px;
  top: -6px;
  border-width: 0 60px 40px 60px;
}

/* Popup arrow - Language */
.navbar-popup-language::before {
  content: "";
  border-style: solid;
  border-color: transparent transparent var(--white-color) transparent;
  position: absolute;
  right: 27px;
  top: -5px;
  border-width: 0 40px 22px 40px;
  z-index: -1;
}

/* Popup arrow - User */
.navbar-popup-user::before {
  content: "";
  border-style: solid;
  border-color: transparent transparent var(--white-color) transparent;
  position: absolute;
  right: 2px;
  top: -5px;
  border-width: 0 40px 22px 40px;
  z-index: -1;
}

/* User */
.navbar-item__username {
  max-width: 150px;
  padding-left: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: none;
}

.navbar-user-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Hover show popup */
.navbar-item--show-popup:hover .navbar-notify,
.navbar-item--show-popup:hover .navbar-popup-user,
.navbar-item--show-popup:hover .navbar-popup-language {
  transform: scale(1);
  opacity: 1;
}

@keyframes notifyGrowth {
  from {
    opacity: 0;
    transform: scale(0);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.navbar-notify-head {
  height: 40px;
  font-size: 1.5rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.75);
  padding: 0 10px;
  line-height: 40px;
}

.navbar-popup-list {
  list-style: none;
}

.navbar-popup-item {
  padding: 8px 10px;
}

.navbar-popup-item:hover,
.navbar-item-footer-link:hover {
  background-color: var(--hover-background-color);
}

.navbar-popup-item--view {
  background-color: #fff2ee;
}

.navbar-popup-link {
  display: flex;
  text-decoration: none;
  color: var(--text-color);
}

/* Hover in language */
.navbar-popup-item:hover .navbar-language {
  color: #ee4d2d;
}

/* Hover in user */
.navbar-popup-item:hover .navbar-user {
  color: #00bfa5;
}

.navbar-notify-img img {
  max-width: 4rem;
  object-fit: contain;
}

.navbar-notify-info {
  margin-left: 4px;
  margin-right: 4px;
  min-width: 0;
  overflow-wrap: break-word;
}

.navbar-notify-name {
  display: block;
  font-size: var(--font-size-primary);
  color: rgba(0, 0, 0, 0.8);
  font-weight: 400;
  margin-bottom: 4px;
}

.navbar-notify-description {
  display: block;
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.7);
}

.navbar-item-footer {
  text-align: center;
  color: rgba(0, 0, 0, 0.8);
}

.navbar-item-footer-link {
  display: block;
  padding: 10px 16px;
  text-decoration: none;
  color: var(--text-color);
}

/* Modal Authentication Form*/
.auth-form {
  width: 500px;
  background-color: var(--white-color);
  border-radius: 5px;
  overflow: hidden;
}

.auth-form__container {
  padding: 0 32px;
}

.auth-form__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
  margin-top: 12px;
}

.auth-form__heading {
  font-size: 2.2rem;
  font-weight: 400;
  color: var(--text-color);
}

.auth-form__switch-btn {
  font-size: 1.6rem;
  color: var(--primary-color);
  cursor: pointer;
}

.auth-form__input {
  width: 100%;
  height: 40px;
  margin-top: 16px;
  padding: 0 12px;
  font-size: var(--font-size-primary);
  border-radius: 2px;
  border: 1px solid var(--border-color);
  outline: none;
}

.auth-form__input:focus {
  border-color: #888;
}

.auth-form__aside {
  margin-top: 20px;
}

.auth-form__policy-text {
  font-size: 1.2rem;
  line-height: 1.8rem;
  text-align: center;
  padding: 0 12px;
}

.auth-form__text-link {
  text-decoration: none;
  color: var(--primary-color);
}

.auth-form__controls {
  margin-top: 80px;
  display: flex;
  justify-content: end;
}

.auth-form__controls-back {
  margin-right: 8px;
}

.auth-form__socials {
  background-color: #f5f5f5;
  padding: 16px 32px;
  display: flex;
  justify-content: space-between;
  margin-top: 22px;
}

.auth-form__socials-icon {
  font-size: 1.8rem;
}

.auth-form__socials--facebook {
  color: var(--white-color);
  background-color: #3a5a98;
}

.auth-form__socials-title {
  margin: 0 36px;
}

.auth-form__socials--google {
  background-color: var(--white-color);
  color: #666;
}

.auth-form__help {
  display: flex;
  justify-content: flex-end;
}

.auth-form__help-link {
  text-decoration: none;
  font-size: var(--font-size-primary);
  color: #939393;
}

.auth-form__help-separate {
  display: block;
  height: 22px;
  margin: -2px 16px 0px;
  border-left: 1px solid #eaeaea;
}

.auth-form__help-forgot {
  color: var(--primary-color);
}

/* Header Search */
.header-with-search {
  padding: 0 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo-link {
  padding-right: 40px;
  text-decoration: none;
  color: transparent;
}

.header-logo-img {
  width: 162px;
  object-fit: contain;
}

/* Search layout */
.header-search-section {
  display: flex;
  width: 840px;
}

.header-search-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white-color);
  flex: 1;
  height: 40px;
}

/* Search input */
.header-search-main {
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.header-search-form {
  padding: 0 16px;
  display: flex;
  flex: 1;
}

.header-search-form__input {
  border: none;
  outline: none;
  flex: 1;
  color: var(--text-color);
  font-size: var(--font-size-primary);
  padding: 0 16px;
}

/* Search select */
.header-search-selector {
  position: relative;
  display: flex;
  height: 100%;
  max-width: 150px;
  align-items: center;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  padding-left: 16px;
  padding-right: 8px;
  font-size: var(--font-size-primary);
  cursor: pointer;
}

.header-search-selector:hover .header-search-wrapper {
  display: flex;
}

.header-search-selector__label {
  margin-right: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.header-search-selector__icon {
  font-size: 1rem;
}

.header-search-wrapper {
  position: absolute;
  top: 100%;
  right: 0;
  display: none;
  z-index: 14;
}

.header-search-option {
  list-style: none;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  border-radius: 2px;
  margin-top: 2px;
}

.header-search-option-item {
  background-color: var(--white-color);
  padding: 16px 10px 16px 16px;
  display: flex;
  align-items: center;
}

.header-search-option-item:hover {
  background-color: #fbfbfb;
}

.header-search-option-item span {
  white-space: nowrap;
  flex: 1;
}

.header-search-option-item i {
  font-size: 1rem;
  margin-left: 14px;
  display: none;
}

.header-search-option-item--active i {
  display: inline-block;
}

/* Search button */
.header-search-icon {
  margin-right: 2px;
}

.header-search-icon__btn {
  font-size: 1.3rem;
  color: var(--white-color);
  padding: 10px 24px;
  background-color: #fb5533;
  border-radius: 2px;
  border: none;
}

.header-search-icon__btn:hover {
  background-color: #fb6445;
}

/* Search History */
.header-search-history {
  position: absolute;
  left: 0;
  top: calc(100% + 2px);
  width: calc(100% - 16px);
  background-color: var(--white-color);
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  z-index: 12;
  display: none;
}

.header-search-history-heading {
  padding: 10px;
  color: rgba(0, 0, 0, 0.3);
  font-size: var(--font-size-primary);
  font-weight: 500;
}

.header-search-history__list {
  list-style: none;
  line-height: 1.6rem;
}

.header-search-history__item {
  padding: 10px;
}

.header-search-history__item:hover {
  background-color: #fafafa;
}

.header-search-history__item:last-child {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.header-search-history__link {
  display: block;
  text-decoration: none;
  color: var(--text-color);
}

.header-search-form__input:focus+.header-search-history {
  display: block;
}

/* Header Cart */
.header-cart-wrapper {
  flex: 1;
  margin: 16px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 5px;
}

.header-cart-main {
  position: relative;
  padding: 24px 10px 0 10px;
  display: inline-block;
  cursor: pointer;
}

.header-cart-link {
  color: var(--white-color);
}

.header-cart-list {
  top: calc(100% + 6px);
  min-width: 400px;
  z-index: 12;
  right: -10px;
  transform-origin: calc(100% - 30px) top;
}

/* Popup arrow - cart */
.header-cart-list::before {
  content: "";
  border-style: solid;
  border-color: transparent transparent var(--white-color) transparent;
  position: absolute;
  right: 1px;
  top: -5px;
  border-width: 0 30px 20px 30px;
  z-index: 12;
}

.header-cart-main:hover .header-cart-list {
  transform: scale(1);
  opacity: 1;
}

.header-cart-list--empty-cart {
  padding: 60px 0;
  cursor: default;
}

.header-cart-list--empty-cart .header-cart-list__empty-img,
.header-cart-list--empty-cart .header-cart-list__empty-notify {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.header-cart-list__empty-img {
  width: 100px;
  display: none;
}

.header-cart-list__empty-notify {
  display: none;
  text-align: center;
  margin-top: 20px;
}

.header-cart-quantity {
  position: absolute;
  border-radius: 44px;
  min-width: 12px;
  line-height: 1.6rem;
  padding: 0px 6px;
  text-align: center;
  border: 1.5px solid var(--primary-color, #ee4d2d);
  color: var(--primary-color, #ee4d2d);
  background-color: #fff;
  left: 26px;
  top: 11px;
  font-size: var(--font-size-primary);
  font-family: var(--font-family);
}

/* Cart product */
.header-cart-heading {
  padding: 12px 0 12px 10px;
  color: rgba(0, 0, 0, 0.26);
  font-size: var(--font-size-primary);
  font-weight: 500;
  text-align: left;
}

.header-cart-shopping-list {
  list-style: none;
}

.header-cart-shoping-list__item {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  cursor: default;
}

.header-cart-shoping-list__item:hover {
  background-color: var(--hover-background-color);
}

.header-cart-shopping-list__img {
  width: 42px;
  height: 42px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-size: var(--font-size-primary);
  object-fit: contain;
}

.header-cart-shopping-list__info {
  flex: 1;
  display: flex;
  margin-left: 10px;
  justify-content: space-between;
  margin-top: -2px;
}

.header-cart-shopping-list__description {
  flex: 1;
  max-width: 224px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-right: 40px;
}

.header-cart-shopping-list__price {
  color: var(--primary-color);
}

.header-cart-checking {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.header-cart-quantiy-goods {
  font-size: 1.3rem;
  color: rgba(0, 0, 0, 0.8);
}